body {
    text-align: center;
}

h1 {
    font-family: 'Nosifer', sans-serif;
    color: rgb(189, 17, 17);
}

canvas:hover {
    cursor: pointer;
}

p {
    text-align: justify;
}

#description {
    max-width: 800px;
    margin: auto;
}

ul {
    text-align: left;
    list-style: '- ';
}

#hide-button {
    margin-bottom: 15px;
    border-radius: 0px;
}

@media (max-width: 900px)  {
    #description {
        max-width: 90%;
    }
    canvas {
        width: 90%;
    }
}