h1 {
    font-family: 'Nosifer', sans-serif;
    color: rgb(85, 10, 10);
}

.board {
    display: flex;
    height: 906px;
    width: 906px;
    flex-wrap: wrap;
    background-color: lightblue;
    border: 1mm solid black;
}

.sector {
    display: flex;
    height: 300px;
    width: 300px;
    flex-wrap: wrap;
    border: 1px solid black;
}

.cell {
    display: flex;
    height: 100px;
    width: 100px;
    border: 0.5mm solid black;
    box-sizing: border-box;
}
